.game {
	width: 600px;
	height: 200px;
	border-bottom: 1px solid #000;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
}

#score {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 30px;
	font-weight: 700;
	font-family: "Metal Mania";
}

#js {
	width: 50px;
	height: 50px;
	background-image: url(img/js.png);
	background-size: 50px 50px;
	position: relative;
	top: 150px;
}

.jump {
	-webkit-animation: jsJump .3s linear;
	        animation: jsJump .3s linear;
}

@-webkit-keyframes jsJump {
	0% {
		top: 150px;
	}

	30% {
		top: 130px;
	}

	50% {
		top: 80px;
	}

	80% {
		top: 130px;
	}

	100% {
		top: 150px;
	}
}

@keyframes jsJump{
	from {
		top:  150px;
	}

	30% {
		top: 130px;
	}

	50% {
		top: 80px;
	}

	80% {
		top: 130px;
	}

	to {
		top:  150px;
	}
}

#crutch {
	width: 20px;
	height: 40px;
	background-image: url(img/kostil.png);
	background-size: 20px 40px;
	position: relative;
	top: 110px;
	left: 580px;
	-webkit-animation: crutchMove 1s infinite linear;
	        animation: crutchMove 1s infinite linear;
}

@-webkit-keyframes crutchMove {
	from {
		left:  580px;
	}

	to {
		left:  -20px;
	}
}

@keyframes crutchMove {
	from {
		left:  580px;
	}

	to {
		left:  -20px;
	}
}
